<?xml version="1.0"?>  
<config>  
	<modules>  
		<Ves_Parallax>  
			<version>1.1.0</version>  
		</Ves_Parallax>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<Ves_Parallax>
					<files>
						<default>Ves_Parallax.csv</default>
					</files>
				</Ves_Parallax>
			</modules>
		</translate>
		<layout>
			<updates>
				<Ves_Parallax>
					<file>ves_parallax.xml</file>
				</Ves_Parallax>
			</updates>
		</layout>
	</frontend>	
	<global>  		     
		<blocks>
            <ves_parallax>
                <class>Ves_Parallax_Block</class>
            </ves_parallax>
        </blocks>
        <models>
            <ves_parallax>
                <class>Ves_Parallax_Model</class>
                <resourceModel>ves_parallax_mysql4</resourceModel>
            </ves_parallax>
            <ves_parallax_mysql4>
                <class>Ves_Parallax_Model_Mysql4</class>
                <entities>
                    <banner>
                        <table>ves_parallax_banner</table>
                    </banner>
                    <banner_store>
                        <table>ves_parallax_banner_store</table>
                    </banner_store>
                </entities>
            </ves_parallax_mysql4>
        </models>
        <helpers>
            <ves_parallax>
                <class>Ves_Parallax_Helper</class>
            </ves_parallax>
        </helpers>
        <resources>
            <ves_parallax_setup>
                <setup>
                    <module>Ves_Parallax</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_parallax_setup>
            <ves_parallax_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_parallax_write>
            <ves_parallax_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_parallax_read>
        </resources>
		
	</global>  
	<admin>
        <routers>
            <parallax>
                <use>admin</use>
                <args>
                    <module>Ves_Parallax</module>
                    <frontName>parallax</frontName>
                </args>
            </parallax>
        </routers>
    </admin>	
		
	<default>
        <ves_parallax>
            <ves_parallax>
                <show>1</show>
			</ves_parallax>
        </ves_parallax>
    </default>
</config>  