<?xml version="1.0"?>
<config>
    <tabs>
        <ves translate="label" module="ves_parallax">
            <label>Venus Theme</label>
            <sort_order>211</sort_order>
        </ves>
    </tabs>
	<sections>
        <ves_parallax>
            <label>Ves Parallax</label>
            <tab>ves</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
				<ves_parallax translate="label">
                    <label>General Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<show translate="label" module="core">
							<label>Enabled</label>
							<sort_order>10</sort_order>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show>
					</fields>
				</ves_parallax>
            </groups>
        </ves_parallax>
    </sections>    
</config>
